{% extends 'base.html.twig' %}

{% block title %}Excursion{% endblock %}

{% block body %}
    <h1>Excursion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ excursion.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ excursion.title }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ excursion.lieu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ excursion.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_excursion_index') }}">back to list</a>

    <a href="{{ path('app_excursion_edit', {'id': excursion.id}) }}">edit</a>

    {{ include('excursion/_delete_form.html.twig') }}
{% endblock %}
