{% block body %}
{% if is_granted('ROLE_ADMIN') %}
 <div class="d-flex justify-content-end">
            <button class=" btn-primary" data-bs-toggle="modal" data-bs-target="#m">
            <i class="fa-solid fa-pen-to-square"></i>
            </button>
</div>
{% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ omra.description }}</td>
            </tr>
            <tr>
                <th>Inclus</th>
                <td>{{ omra.inclus }}</td>
            </tr>
            <tr>
               <th>Non inclus</th>
               <td>{{ omra.nonInclus }}</td>
            </tr>   
        </tbody>
    </table>

    <div class="container">
        <div class="modal fade" id="m" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">	
                        <h4>Modifier les détails</h4>			
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">	
                    {{ form_start(form, {'action': path('app_omra_edit_details', {'id': omra.id})}) }}
                    {{ form_widget(form ) }}
                    <div class="d-flex justify-content-end">
                        <button style="font-size:15px;">{{ button_label|default('valider') }}</button>
                    </div>
                    {{ form_end(form) }}				
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}