{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class="d-flex justify-content-end">
            <button class=" btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="fa-solid fa-pen-to-square"></i>
            </button>
</div>
{% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ croisiere.title }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ croisiere.destination.name }}</td>
            </tr>
            <tr>
               <th>Image</th>
               <td>
                    {% if croisiere.image is not null %}
                        <img src="{{ asset('uploads/' ~ croisiere.image) }}" alt="Image" width="50">
                    {% else %}
                        <span>Aucune image disponible</span>
                    {% endif %}
               </td>
            </tr>   
            <tr>
                <th>Catégorie</th>
                <td>{{ croisiere.categorie}}</td>
            </tr>
            <tr>
                <th>Agence</th>
                <td>{{ croisiere.agence.name }}</td>
            </tr> 
            <tr>
                <th>Images</th>
                <td>{% for image in croisiere.images %}
                            <img src="{{ asset('uploads/' ~ image) }}" alt="Image" width="50">
                    {% endfor %}
                </td>    
            </tr>  

            
            
        </tbody>
    </table>

    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">	
                        <h4>Modifier les informations générales</h4>			
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">	
                    {{ form_start(form, {'action': path('app_croisiere_edit_info_general', {'id': croisiere.id})}) }}
                    {{ form_widget(form ) }}
                    <div class="d-flex justify-content-end">
                        <button style="font-size:15px;">{{ button_label|default('valider') }}</button>
                    </div>
                    {{ form_end(form) }}				
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
