{% extends 'template.html.twig' %}

{% block title %}Destination index
{% endblock %}
{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-end">

		<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
			<i class="fa-solid fa-circle-plus"></i>
			<span class="ms-2">Ajouter</span>
		</a>
	</div>
	<h1>Les destinations</h1>
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<div class="card mb-4">
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nom</th>
									<th>Description</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for destination in destinations %}
									<tr>
										<td>{{ destination.id }}</td>
										<td>{{ destination.name }}</td>
										<td>{{ destination.description }}</td>
										<td>
											<div class="d-inline-flex">
											{% if is_granted('ROLE_ADMIN') %}
												<a href="{{ path('app_destination_edit', {'id': destination.id}) }}">
													<i class="fa-solid fa-pen-to-square" style="margin-right: 6px;"></i>
												</a>
												{{ include('destination/_delete_form.html.twig') }}
											{% endif %}	
											</div>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="4">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</div>

	<div class="container">

		<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Create new</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						{{ include('destination/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src={{ asset ('assets/js/scripts.js') }}></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
	<script src={{ asset ('assets/js/datatables-simple-demo.js') }}></script>

{% endblock %}
